.poster-container {
  position: absolute;
  padding-top: 3%;
  height: 60vh;
  width: 100%;
}

.content {
  margin-top: 50vh;
  color: grey;
  min-width: 100%;
}

.movie-movie-image {
  max-height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movie-movie-title {
  height: 100%;
  font-size: 35px;
  margin-bottom: 0;
  display: flex;
  align-items: flex-end;
  padding-bottom: 5%;
}

.bg-image {
  filter: blur(25px);
  height: 100%;
  width: 100%;
  background-attachment: fixed;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 2s ease-out, transform 2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  visibility: visible;
}

.ratings-menu {
  height: 100%;
  min-height: 75vh;
}

.rating-container {
  height: 100%;
  display: flex;
  align-content: center;
}
