.key-info {
  color: white;
}

h1 {
  text-align: center;
  color: grey;
}

.emoji {
  font-size: 10rem;
  text-align: center;
}

.vertical-separator {
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    )
    no-repeat center/2px 100%;
}

.audience-sub-heading {
  border-bottom: rgba(255, 255, 255, 0.2) solid;
  margin-bottom: 2%;
}
.likely {
  color: rgb(1, 230, 1);
}

.unlikely {
  color: rgb(230, 1, 1);
}

.audience-segmentation {
  padding-top: 1px;
  padding-bottom: 15vh;
  width: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.audience-segmentation-container {
  height: 100%;
  width: 100%;
}

.switch-segmentation-type-button {
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.table {
  width: fit-content !important;
}

.table-container {
  overflow: auto;
  max-height: 30vh;
  width: fit-content;
}

th {
  position: sticky;
  top: 0;
  background: #343a40;
}

.user-data-link {
  color: blue;
  cursor: pointer;
}
