.rating-box {
  background-image: url("https://i.pinimg.com/originals/95/64/f9/9564f9e0286d1bec5ed420533f4c9a08.png");
  background-size: cover;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
