.genre-button {
  padding-right: 1%;
  padding-bottom: 2%;
}

.genre-button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
}

.clear-genre-button {
  padding-left: 5%;
}
